# drivers/tomtom/battery/Kconfig
#
# Copyright (C) 2008 TomTom BV <http://www.tomtom.com/>
# Author: Rogier Stam <rogier.stam@tomtom.com>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.

menuconfig TOMTOM_BATTERY
	default n
	depends on TOMTOM_DRIVERS
	bool "TomTom Battery drivers"
	---help---
          This option enables support for the TomTom battery which reports
	  current battery info.

if TOMTOM_BATTERY

config TOMTOM_BATTERY_MENDOZA
	tristate "Enable Mendoza battery support"
	default m
	depends on TOMTOM_BATTERY && TOMTOM_VBUSMON
	help
	  Support the Mendoza battery for correct status information.

endif # TOMTOM_BATTERY
